html, body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;     
    text-rendering: optimizeLegibility;
    padding:0;
    margin:0;
	font-size: calc(1em + 1vw);
}

/*	=====================================================================
									GENERAL							
	===================================================================== */
    
      h1 {
        font-family:'Semibold';
        position: fixed;
        line-height: 110%;
        letter-spacing: -2px;
        font-size: 3.2em !important; 
        font-size: 18vmin !important;
    }

    @media screen and (max-width: 767px) {
        h1 {
        line-height: 130%;
        }
    }



    .on-hover-40, .on-hover--40 {
        transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);
    }
    .on-hover-40:hover {
        margin-left: 40px;
        transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);	
    }
    .on-hover--40:hover {
        margin-left: -40px;
        transition: all .4s cubic-bezier(0.2, 0.6, 0.2, 1);	
    }


    @media screen and (max-width: 767px) {
        .on-hover-40:hover {
            margin-left: 0px;	
        }
        .on-hover--40:hover {
            margin-left: 0px;
        }	
    }

    .max-width {
        max-width: 68%;
        max-width: 21.5em;
        margin: 0 auto;
    }

    @media screen and (max-width: 767px) {
        .max-width {
            max-width: 100%;
            max-width: 86%;
        }
    }


    .label-hola:after{
        content:"Hello.";
    }
    .label-hola:hover:after{
        content:"Sobre Mi";
    }
    .label-yosoy:after{
        content:"Yo Soy";
    }
    .label-yosoy:hover:after{
        content:"Proyectos";
    }
    .label-dozy:after{
        content:"Dozy";
    }
    .label-dozy:hover:after{
        content:"Contacto";
    }
    .label-error:after{
        content:"Oops!";
    }
    .label-error:hover:after{
        content:"Home";
    }

    .animate {
        -webkit-animation:animate .6s cubic-bezier(0.2, 0.6, 0.2, 1);
        -moz-animation:animate .6s cubic-bezier(0.2, 0.6, 0.2, 1);
        animation:animate .6s cubic-bezier(0.2, 0.6, 0.2, 1);
        -webkit-animation-fill-mode:backwards;
        -moz-animation-fill-mode:backwards;
        animation-fill-mode:backwards;
    }


@-webkit-keyframes animate {
	0% {opacity: 0;-webkit-transform: translateY(100%);}
	100% {opacity: 1;-webkit-transform: translateY(0%);}	
}

@keyframes animate {
	0% {opacity: 0;transform: translateY(30vh);}
	100% {opacity: 1;transform: translateY(0%);}	
}


/* ------ Delays ------ */
.delay02 { -webkit-animation-delay: .2s; animation-delay: .2s;}
.delay04 { -webkit-animation-delay: .4s; animation-delay: .4s;}
.delay06 { -webkit-animation-delay: .6s; animation-delay: .6s;}
.delay08 { -webkit-animation-delay: .8s; animation-delay: .8s;}
.delay10 { -webkit-animation-delay: 1s; animation-delay: 1s;}
.delay12 { -webkit-animation-delay: 1.2s; animation-delay: 1.2s;}



.bg-photo {	
	z-index: -9;	
	background-image: url(/facebook.png);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	 background-size: cover;
	
	-webkit-animation:bg-photo 1.2s cubic-bezier(.5, .6, .6, 1);
	-moz-animation:bg-photo 1.2s cubic-bezier(.5, .6, .6, 1);
	animation:bg-photo 1.2s cubic-bezier(.5, .6, .6, 1);	
	-webkit-animation-fill-mode:backwards;
	-moz-animation-fill-mode:backwards;
	animation-fill-mode:backwards;
}

	@media screen and (max-width: 767px) {
		.bg-photo {
		-webkit-animation:bg-photo .6s cubic-bezier(.5, .6, .6, 1);
		-moz-animation:bg-photo .6s cubic-bezier(.5, .6, .6, 1);
		animation:bg-photo .6s cubic-bezier(.5, .6, .6, 1);		
		}
	}
@-webkit-keyframes bg-photo {
	0% {opacity: 0;transform: scale(1.1);}
	100% {opacity: 1;transform: scale(1);}	
}

@keyframes bg-photo {
	0% {opacity: 0;transform: scale(1.1);}
	100% {opacity: 1;transform: scale(1);}	
}
		@media screen and (max-width:480px) {
			.bg-photo {
				left: -8%;
			}	
		}
